.section-nav {
  border-bottom: 1px solid $gray;
}

.section-nav ul {
  display: flex;
  justify-content: center;
}

.section-nav li {
  padding: 10px;
}

.section-nav a {
  font-family: $sans-serif;
}

.section-nav a:hover {
  background-color: $light-gray;
}
